.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 0;
  padding: 0;
}
.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 40%;
}
.card__like-button:hover {
  opacity: 100%;
}
@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 250px;
  }
}
