.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__delete-button {
  background-image: url(../images/delete-icon.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
  background-position: center;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-icon-hover.svg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 0;
  padding: 0;
}
.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.4;
  cursor: pointer;
}
.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/liked.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 250px;
  }
}
