.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.footer__content {
  margin: 0;
  font-family: Poppins, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121b2;
}
