.modal {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.modal_type_preview {
  padding: 0 16px;
}
.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}
.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/x-icon.svg);
  background-color: transparent;
  border: none;
  background-position: center;
  padding: 0;
  opacity: 0.4;
  cursor: pointer;
}
.modal__close-button:hover {
  opacity: 1;
}
.modal__close-button_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/Group\ 27.svg);
  opacity: 1;
}
.modal__close-button_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
  padding: 4px 0;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
  display: block;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 52px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  padding: 16px 12px 16px;
  font-size: 20px;
  line-height: 1;
  box-sizing: border-box;
}
.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}
.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
  line-height: 1;
}
.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}
.modal__error {
  display: block;
  margin-top: 8px;
  color: rgba(255, 0, 0, 0.7);
  font-size: 16px;
}

.modal__submit-button {
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  padding: 18px 58px;
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}
.modal__submit-button_disabled {
  opacity: 0.5;
}
.modal__submit-button:hover {
  opacity: 0.4;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 33, 33, 1);
  margin-top: 8px;
  padding: 4px 8px;
  max-width: fit-content;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
  line-height: 1.2;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 12px;
  }
  .modal__close-button {
    top: 12px;
    right: 12px;
  }
  .modal__close-button_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__caption {
    font-size: 16px;
  }
  .modal__title {
    margin: 0 0 24px;
    font-size: 20px;
    padding: 10px 0;
  }
  .modal__image {
    max-width: unset;
  }
  .modal__label {
    margin: 0 0 24px;
  }
  .modal__input {
    height: 48px;
  }
  .modal__input::placeholder {
    font-size: 16px;
  }
  .modal__submit-button {
    width: 100%;
    max-width: none;
  }
}
