.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}
.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/x-icon.svg);
  background-color: transparent;
  border: none;
  background-position: center;
  padding: 0;
  opacity: 40%;
}
.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
  padding: 4px 0;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 52px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  padding: 0;
}
.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
  line-height: 1;
  padding: 16px 12px;
}
.modal__submit-button {
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  padding: 18px 58px;
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
}
@media screen and (max-width: 630px) {
  .modal__container {
    padding: 12px;
  }
  .modal__close-button {
    top: 12px;
    right: 12px;
  }
  .modal__title {
    margin: 0 0 24px;
    font-size: 20px;
    padding: 10px 0;
  }
  .modal__label {
    margin: 0 0 24px;
  }
  .modal__input {
    height: 48px;
  }
  .modal__input::placeholder {
    font-size: 16px;
  }
  .modal__submit-button {
    width: 100%;
    max-width: none;
  }
}
