.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: Poppins, "Times New Roman", serif;
  font-weight: 500;
  letter-spacing: 0;
}
.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
